  .title{
    font-family: 'Oswald';
    font-style: normal;
    text-transform: uppercase;
    color: #173D33;
    text-align: left;
    margin-bottom: 24px;
   }
   .current_pict{
      font-family: 'FiraSans';
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: -0.04em;
      color: #173D33;     
    }
    .quentity_pict{
      font-family: 'FiraSans';
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: -0.04em;      
      color: rgba(23, 61, 51, 0.25);

    }
  

@media only screen and (min-width: 360px) and (max-width: 767px) {
    .section {
      padding:  18px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .title{
        font-size: 28px;
     }
     .wrapper_handlers{
      display: flex;
      justify-content: space-between;
      align-items: baseline ;
      margin-bottom: 19px;
     }
    
  }

  
  @media screen and (min-width: 768px) {
    .section {
     padding:  25px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .title{
        font-size: 36px;
     }
     .cases_header{
      position:relative;
      display: flex;
      justify-content: space-between;
     }
     .wrapper_handlers{
      display: flex;
      /* justify-content: space-between; */
      align-items: baseline ;
      margin-bottom: 19px;
     }
     .wrapper_buttons{
      margin-left: 126px;
    }
    .cases_header::before {
      content: "";
      position: absolute;
      /* top: 111px; */
      /* left: 384px; */
      /* right: 12px; */
      width: 1px;
    height: 48px;
    background-color: #97D28B;
    margin: 0 auto;
    }
     /* .cases_text{
        width: 264px;
     } */
  }
  
  @media screen and (min-width: 1280px) {
    .section {
     padding:  30px 0;
    }
    .title{
        font-size: 48px;
     }
     .wrapper_buttons{
      margin-left: 193px;
    }
     /* .cases_text{
        width: 398px;
     } */
  }
