  .title{
    font-family: 'Oswald';
    font-style: normal;
    text-transform: uppercase;
    color: #173D33;
    text-align: left;
    margin-bottom: 24px;
   }
   .current_pict{
      font-family: 'FiraSans';
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: -0.04em;
      color: #173D33;     
    }
    .quentity_pict{
      font-family: 'FiraSans';
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: -0.04em;      
      color: rgba(23, 61, 51, 0.25);

    }
    .icon{
      fill: #173d33;
       width: 66px;
      height: 66px;
      -webkit-transition-property: fill;
      transition-property: fill;
      -webkit-transition-duration: 250ms;
              transition-duration: 250ms;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button{  
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 66px;
          width: 66px;
          border-radius: 50%;
          border: none;
          background-color: #fff;
          color: #292D32;       
          cursor: pointer
  }
 
  .button:hover .icon{
      fill: #97D28B;
  }
  
  

@media only screen and (min-width: 360px) and (max-width: 767px) {
    .section {
      padding:  18px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .title{
        font-size: 28px;
     }
     .cases_text{
     width: 236px;
    }
     .wrapper_handlers{
      display: flex;
      justify-content: space-between;
      align-items: baseline ;
      margin-bottom: 19px;
     }
    
  }

  
  @media screen and (min-width: 768px) {
    .section {
     padding:  25px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .title{
        font-size: 36px;
     }
     .cases_header{
      display: flex;
      justify-content: space-between;
     }
     .wrapper_handlers{
      display: flex;
      justify-content: space-between;
      align-items: baseline ;
      width: 344px;
      margin-bottom: 19px;
     }
     .wrapper_buttons{
      margin-left: 126px;
    }
    .cases_text{
      width: 300px;
      position: relative;
    }
    .cases_text::after {
      content: "";
      position: absolute;
      right: -90px;     
      width: 1px;
      top: 0;
      bottom: 19px;
      background-color: #97D28B;
    }
     
  }
  
  @media screen and (min-width: 1280px) {
    .section {
     padding:  30px 0;
    }
    .title{
        font-size: 48px;
     }
     .cases_text{
      width: 357px;
   } 
     .wrapper_handlers{
      width: 459px;
     }
     .wrapper_buttons{
      margin-left: 193px;
    }
    .cases_text::after {
      content: "";
      position: absolute;
      right: -287px;        
      width: 1px;
      top: 0;
      bottom: 24px;     
      background-color: #97D28B;
    }
    .icon{      
      width: 84px;
      height: 84px;
    }
    .button{      
      width: 84px;
      height: 84px;
    }

  }