  .title{
    font-family: 'Oswald';
    font-style: normal;
    text-transform: uppercase;
    color: #173D33;
    text-align: left;
   }
   .current_pict{
      font-family: 'FiraSans';
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: -0.04em;
      color: #173D33; 
    }
    .quentity_pict{
      font-family: 'FiraSans';
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: -0.04em;      
      color: rgba(23, 61, 51, 0.25);

    }
    .icon{
      fill: #173d33;
       width: 66px;
      height: 66px;
      -webkit-transition-property: fill;
      transition-property: fill;
      -webkit-transition-duration: .3s;
              transition-duration: .3s;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button{  
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 66px;
          width: 66px;
          border-radius: 50%;
          border: none;
          background-color: #fff;
          color: #292D32;       
          cursor: pointer
  }
 
  .button:hover .icon{
      fill: #97D28B;
  }
 
@media only screen and (min-width: 360px) and (max-width: 767px) {
    .section {
      padding:  18px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .title{
        font-size: 28px;       
     }
    .cases_header{
      margin-bottom: 19px;
    }

     .cases_text{
     width: 236px;
     margin-bottom: 63px;
    }
    .prev_button{
      position: absolute;
      top: -92px;
      left: 196px;
    }
    .next_button{
      position: absolute;
      top: -92px;
      left: 260px;
    }
     .wrapper_handlers{
      display: flex;
      justify-content: space-between;
      align-items: center;
     }
    }

  
  @media screen and (min-width: 768px) {
    .section {
     padding:  25px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .title{
        font-size: 36px;
     }
     .cases_header{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;      
     }
     .wrapper_handlers{
      display: flex;
      justify-content: space-between;
      align-self: flex-end;   
      width: 344px;
     }
     .wrapper_buttons{
      margin-left: 126px;
    }
    .cases_text{
      width: 300px;
    }
    .current_pict{
      align-self: flex-end;   
    }
    .cases_header::after {
      content: "";
      position: absolute;
      height: 65px;
      left: 50%;
      width: 1px;
      top: 9px;
      bottom: 9px;
      background-color: #97D28B;
    }
    .prev_button{
      position: absolute;
      top: -105px;
      right: 66px;
    }
    .next_button{
      position: absolute;
      top: -105px;
      right: 0;
    }
    
  }
  
  @media screen and (min-width: 1440px) {
    .section {
     padding:  30px 0;
    }
    .title{
        font-size: 48px;
    }
    .cases_header{
      margin-bottom: 109px;
    }
     .cases_text{
      width: 357px;
   } 
     .wrapper_handlers{
      width: 459px;
     }
     .wrapper_buttons{
      margin-left: 193px;
    }
    .cases_header::after {
      content: "";
      position: absolute;
      height: 96px;
      left: 50%;
      width: 1px;
      top: 6px;
      bottom: 6px;
      background-color: #97D28B;
    }
    .prev_button{
      top: -205px;
      right: 108px;
    }
    .next_button{
      top: -205px;
      right: 0;
    }
    .icon{      
      width: 84px;
      height: 84px;
    }
    .button{      
      width: 84px;
      height: 84px;
    }

  }