.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px 0 16px;
    font-family: 'FiraSans';
    font-size: 16px;
    font-style: normal;
    width: 121px;
    height: 39px;
    border: 1px;  
    color:#173D33;
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;         
    outline: #97D28B solid 2px; 
    border-radius: 20px;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) background-color
    250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button:hover {
    outline: none; 
    background-color: #173D33; 
    color:#97D28B ;
}
.icon_wrapper{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color:#97D28B;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon{
    fill: #173d33;
    width: 36px;
    height: 36px;
}