.sliderCard{
  
    display: flex;
    flex-direction: column;
    height: 100%;   
  }

 .sliderCard__info{
    position: relative;
    padding: 36px 12px 12px 12px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    background-color: #EAEDF1;
    width: calc(100% - 24px) ;    
  }
  .sliderCard__info::before {
    content: "";
    position: absolute;
    top: 111px;
    left: 12px;
    right: 12px;
    height: 1px;
    background-color: #97D28B;
  }
  .sliderCard__photo{
    width: 100%;              
 }
  .sliderCard__infoUp{
    display: flex;
    justify-content: space-between;   
  }
  .sliderCard__infoDown{
    display: flex;
    justify-content: space-between;

  }
  .sliderCard__title{
    font-family: 'FiraSans';
    font-size: 18px;
    font-style: normal;
    letter-spacing: -4%;
    color: #173D33;
  }
  .sliderCard__description{
    font-family: 'FiraSans';
    font-size: 12px;
    font-style: normal;
    letter-spacing: -4%;
    color: #173D33;
  }

  @media only screen and (min-width: 360px) and (max-width: 480px){
    .sliderCard{
      width: 100%;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 767px){
    .sliderCard{
      width: 320px; 
    }
  }
         
        @media screen and (min-width: 768px) {
              .sliderCard{
                width: 342px; 
              }
              .sliderCard__title{
                font-size: 20px;         
              }
              .sliderCard__description{
                font-size: 14px;               
              }  
              .sliderCard__info::before {               
                top: 129px;               
              }
    }
    
    
    @media screen and (min-width: 1280px) {
                .sliderCard{
                width: 596px; 
              }
                .sliderCard__title{
                font-size: 24px;         
              }
              .sliderCard__description{
                font-size: 16px;               
              } 
              .sliderCard__info::before {               
                top: 130px;               
              }  
          }


