.modal_link{
    font-family: 'FiraSans';
    font-size: 24px;
    font-style: normal;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.25);
}
.modal_link:hover{
    color: #fff;
}
.icon{
    fill: rgba(255, 255, 255, 0.25);
    width: 16px;
    height: 16px;
    margin-left: 8px;
}
.modal_link:hover .icon{
    fill: #fff;
}
